/*  */


body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('../img/fondo.png');
    background-attachment: fixed;
}

/* EXPORTANDO FUENTE */

@font-face {
    font-family:themillion;
    src: url(../letra1.ttf);
}

/* BACKGROUND DE BARRA DE ITEMS */

.navbar {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(20, 21, 71,0.8);
    color: #ffffff;
    position: relative; /* Establecer posición relativa para el div .navbar */
}

/* CARACTERISTICAS DE LOS ITEMS */

.navbar-item {
    width: 20%;
    height: 70px;
    font-size: 23px;
    font-family: themillion;
    margin-top: 30px;
    align-items: center;
    text-align: center;
    position: relative; /* Establecer posición relativa para el div .navbar-item */
}

/* CARACTERISTICAS DEL LOGO */

.navbar-item img {
    position: absolute; /* Establecer posición absoluta para la imagen */
    margin-top: -100px;
    margin-left: -40%;
    width: 300px; 
    height: 300px; 
    z-index: 1;
}

/* CARACTERISTICAS DE IMAGEN LOGOTIPO */

#MydMylodon {
  text-align: center; /* Alinea la imagen en el centro */
}

#MydMylodon img {
  width: 30%; /* Ajusta el ancho de la imagen según tus preferencias */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* CARACTERISTICAS DE FUERZA AUSTRAL */

.texto-derecha {
  width: 95%;
  height: 800px;
  font-size: 200px;
  font-family: themillion;
  text-align: right; /* Alinea el texto hacia la derecha */
  color: #ffffff;
}

/* CARACTERISTICAS DEL TITULO */

.teams {
  width: 100%;
  height: 110px;
  font-size: 70px;
  font-family: themillion;
  margin-top: 30px;
  align-items: center;
  text-align: center;
  position: relative; /* Establecer posición relativa para el div .navbar-item */
}

/* CARRUSEL */

#carouselExampleIndicators{
  margin-left: 10%;
  margin-right: 10%;
}


/* BOTON Y POLERA */

.box {
  display: flex;
  align-items: center; /* Para alinear verticalmente */
}

#polera_boton{
margin-left: 20%;
}


.primary-button {
  font-family: themillion;
     /* font-family: 'Valorant', sans-serif; */
  color: white;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border: 1px solid #0E1822;
  padding: 0.8rem 2.1rem;
  background-image: url("../img/botonceleste.svg");
  background-color: #0E1822;
  background-size: 200%;
  background-position: 200%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  transition-property: background-position, border, color;
  position: relative;
  z-index: 1;

  width: 400px;
  height: 200px;
 }
 
 .primary-button:hover {
  border: 1px solid #0bf7ff;
  color: white;
  background-position: 40%;
 }
 
 .primary-button:before {
  content: "";
  position: absolute;
  background-color: #0E1822;
  width: 0.2rem;
  height: 0.2rem;
  top: -1px;
  left: -1px;
  transition: background-color 0.15s ease-in-out;
 }
 
 .primary-button:hover:before {
  background-color: white;

 }
 
 .primary-button:hover:after {
  background-color: white;
 }
 
 .primary-button:after {
  content: "";
  position: absolute;
  background-color: #0bf7ff;
  width: 0.3rem;
  height: 0.3rem;
  bottom: -1px;
  right: -1px;
  transition: background-color 0.15s ease-in-out;
 }
 
 .button-borders {
  margin-left: 10px; 
  position: relative;
  width: fit-content;
  height: fit-content;
 }
 
 .button-borders:before {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  top: -0.3em;
  border: 1px solid #0E1822;
  border-bottom: 0px;
     /* opacity: 0.3; */
 }
 
 .button-borders:after {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  bottom: -0.3em;
  border: 1px solid #0E1822;
  border-top: 0px;
     /* opacity: 0.3; */
  z-index: 0;
 }
 
 .shape {
  fill: #0E1822;
 }
 
 .polera {
  max-width: 200%;  /* Ajusta el ancho máximo de la imagen según sea necesario */
  margin-right: 100px; /* Espacio entre la imagen y el botón */
}

/* NOTICIAS */

.cardsnoticias{
display: flex;
align-items: center;
margin-left: 17%;
margin-right: 10%;
}

.card {
  padding: 20px;
  width: 330px;
  min-height: 370px;
  border-radius: 20px;
  background: #12184b;
  box-shadow: 5px 5px 8px #12184b,
             -5px -5px 8px #0a0e3e;
  transition: 0.4s;
}

.card:hover {
  translate: 0 -10px;
}

.card-title {
  font-family: themillion;
  font-size: 18px;
  font-weight: 600;
  color: #b2eccf;
  margin: 15px 0 0 10px;
}

.card-image {

  background-color: #313121;
  border-radius: 15px;
  background: #313131;
  box-shadow: inset 5px 5px 3px #2f2f2f,
            inset -5px -5px 3px #333333;
            overflow: hidden;
}

.card-body {
  font-family: themillion;
  margin: 13px 0 0 10px;
  color: rgb(184, 184, 184);
  font-size: 15px;
}

.footer {
  float: right;
  margin: 28px 0 0 18px;
  font-size: 13px;
  color: #b3b3b3;
}

.by-name {
  font-weight: 700;
}



/* Estilos para el FOOTER */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 0px;
}
.footerlog {
    max-width: 100%;
    height: fit-content;
    background-color: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  
/* Fin de los estilos para el footer */

