/*  */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('../img/fondo.png');
    background-attachment: fixed;
}

/* EXPORTANDO FUENTE */

@font-face {
    font-family:themillion;
    src: url(../letra1.ttf);
}

/* BACKGROUND DE BARRA DE ITEMS */

.navbar {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(20, 21, 71,0.8);
    color: #ffffff;
    position: relative; /* Establecer posición relativa para el div .navbar */
}

/* CARACTERISTICAS DE LOS ITEMS */

.navbar-item {
    width: 20%;
    height: 70px;
    font-size: 23px;
    transition: font-size 0.3s ease;
    font-family: themillion;
    margin-top: 30px;
    align-items: center;
    text-align: center;
    position: relative; /* Establecer posición relativa para el div .navbar-item */
}
.navbar-item a{
  transition: font-size 0.3s ease;
}
.navbar-item a:hover{
  color: #0bf7ff;
  font-size: 27px;
}

.navbar-item a {
  text-decoration: none; /* Elimina el subrayado */
  color: #ffffff; /* Cambia el color del texto a negro o el color que desees */
  /* Puedes ajustar otros estilos, como la fuente, tamaño de fuente, etc., según tus preferencias */
}



/* CARACTERISTICAS DEL LOGO */

.navbar-item img {
    position: absolute; /* Establecer posición absoluta para la imagen */
    margin-top: -100px;
    margin-left: -40%;
    width: 300px; 
    height: 300px; 
    z-index: 1;
    transition: transform 0.3s ease;
}

.navbar-item :hover img {
transform: scale(1.1);
}




/* CARACTERISTICAS DE IMAGEN LOGOTIPO */


#MydMylodon {
  text-align: center; /* Alinea la imagen en el centro */
}

#MydMylodon img {
  width: 30%; /* Ajusta el ancho de la imagen según tus preferencias */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}


/* BOTÓN */

button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-size: 10;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: #0bf7ff;
  color: rgb(20, 21, 71,0.8);
 }
 
 button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
 }
 
 button:hover span {
  color: rgb(20, 21, 71,0.8);
 }
 
 button::before,
 button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 button::before {
  content: "";
  background: #ffffff;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 button:hover::before {
  transform: translate3d(100%, 0, 0);
 }
 




/* CARDS DE COMPRA */

.card {
  padding: 20px;
  width: 330px;
  min-height: 370px;
  border-radius: 20px;
  background: #12184b;
  box-shadow: 5px 5px 8px #1b1b1b,
             -5px -5px 8px #272727;
  transition: 0.4s;
}

.card:hover {
  translate: 0 -10px;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  margin: 15px 0 0 10px;
}

.card-image {
  min-height: 170px;
  background-color: #313131;
  border-radius: 15px;
  background: #313131;
  box-shadow: inset 5px 5px 3px #2f2f2f,
            inset -5px -5px 3px #333333;
}

.card-body {
  font-family: 'Quicksand', sans-serif;
  margin: 13px 0 0 10px;
  color: rgb(184, 184, 184);
  font-size: 15px;
}

.footer {
  float: right;
  margin: 28px 0 0 18px;
  font-size: 13px;
  color: #b3b3b3;
}

.by-name {
  font-weight: 700;
}


/* CORAZON */
.heart-container {
  --heart-color: rgb(91, 173, 255);
  position: relative;
  width: 30px;
  height: 30px;
  transition: .3s;
  padding-top: 20px;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}





/* Estilos para el FOOTER */
footer {
  background-color: #100d3b;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 0px;
}
.footerlog {
  max-width: 100%;
  height: fit-content;
  background-color: rgb(13, 14, 53);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(13, 12, 43);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* Fin de los estilos para el footer */

